<div class="container" style="background: lightpink; padding: 3em;">
  <div class="container">
    <!-- Content here -->
    <br />
    <h1 style="text-align: center;">USER ERROR SIGN UP</h1>
    <br />
  </div>
  <div
    class="container"
    style="display: flex;
    justify-content: center;"
  >
    <a href="/registro" class="btn btn-primary">Volver</a>
  </div>
</div>