<div class="container">
  <!-- Content here -->
  <br />
  <h1>Registro de Usuario</h1>
  <br />
  <form action="" method="post">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        aria-describedby="emailHelp"
        placeholder="Enter username"
      />
      <input
        type="text"
        class="form-control"
        name="password"
        id="password"
        aria-describedby="emailHelp"
        placeholder="Enter password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>
<div class="container">
  <a href="/login" class="btn btn-primary">Ir al login</a>
</div>